[Unit]
Description=Gunicorn instance to serve CertiSign Signature microservice
After=network.target

[Service]
User=ssatl
Group=ssatl
WorkingDirectory=/home/ssatl/Documents/Doc@uthANTIC/backend/fastapi/microservices/signature_document
ExecStart=/home/ssatl/Documents/Doc@uthANTIC/backend/fastapi/.venv/bin/gunicorn main:app --workers 4 --worker-class uvicorn.workers.UvicornWorker --bind 127.0.0.1:8003
Restart=always

[Install]
WantedBy=multi-user.target
